*{
    margin: 0px;
    padding: 0px;
}
.box{
    width: 1000px;
    margin: 0px auto;
}
.btn {
    width: 40px;
    height: 80px;
    position: fixed;
    bottom: 30px;
    background: darkgreen;
    left: 92%;
}
.btn:hover{
    background: #00a8e6;
}